<header class="p-3 text-dark mb-4">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2">Ana Sayfa</a></li>
                <li><a href="/bots" class="nav-link px-2">Botlar</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 border border-dark">
                <input type="search" class="form-control form-control-dark" placeholder="Ara..." aria-label="Ara">
            </form>
            <div class="text-end">
                <button type="button" class="btn btn-warning">Giriş Yap!</button>
            </div>
        </div>